@use '../util' as *;

.header {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(36);
    @include breakpoint-up(medium){
       
        justify-content: space-between;
        align-items: center;
    }

    &__title {

    }

    &__subtitle {
       font-size: rem(14);
       font-weight: 200; 
       color: var(--text-color2);
    }

    &__toggle{

    }
}