@use '../util' as *;

.toggle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: none;
    &__wrapper {
        height: rem(24);
        
        
    }

    input[type="radio"]{
        opacity: 0;
        
    }

    &__background {
        border-radius: rem(12);
        display: block;
        height: 100%;
        background: linear-gradient(45deg, var(--toggle-bg-start), var(--toggle-bg-end));
    }

    &__button {
        width: rem(16);
        height: rem(16);
        border-radius: 50%;
        background-color: var(--toggle);
    }


}